# IA - An√°lise do dataset Bikes.csv
- **Memebros: (3ECR)**
    - Felipe Torigoe - RM 79896
    - Guilherme Fuji - RM 79932
    - Matheus Issao Bocci - RM 81542
    - Matheus Pereira Nascimento - RM 81618
    - Richard Rodrigues Silva - RM 80906

In [1]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv("data/Bikes.csv")

In [10]:
data.head()

,city,dteday,season,yr,mkt,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,stock,cnt,target
0,city_0,2011-01-01,1,0,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,997,929,1257.0
1,city_0,2011-01-02,1,0,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,1231,765,1096.0
2,city_0,2011-01-03,1,0,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1395,1395,1430.0
3,city_0,2011-01-04,1,0,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1651,1641,885.0
4,city_0,2011-01-05,1,0,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,2334,1671,1210.0

In [11]:
data.shape

(146200, 17)

In [12]:
data.columns

Index(['city', 'dteday', 'season', 'yr', 'mkt', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'stock', 'cnt', 'target'],
      dtype='object')